<html>
  <head>
    <title>YummySoup Viewer</title>
    <link href='http://fonts.googleapis.com/css?family=Oxygen+Mono' rel='stylesheet' type='text/css'>
    <link href="../css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link rel="stylesheet" type="text/css" media="only screen and (max-device-width: 1024px)" href="css/kindle_fire.css" />
  </head>
  <body>
  <%= erb :header %>
  <div class = "row">
    <div class="span3 well">
      <h2>Ingredients</h2>
      <ul>
        <li>
          <% x = @recipe["ingredientsArray"].delete! "()" %>
          <% ingredients = x.split (",") %>
          <%= ingredients[3] %>
        </li>

      </ul>
    </div>
    <div class="span9">
  <%= "<h1>" + @recipe["name"] + "</h1>" %>
  <%= "<p class='lead'>" + @recipe["recipeDescription"] + "</p>" %>
  <%= "<div id='directions'>" + @recipe["directions"] + "</div>" %>
    </div>
  </div>
  </body>
</html>
